@model IEnumerable<TheLineSportsOnline.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Current Standings</h2>

<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>Player</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Wallet</td>
            </tr>
        }
    </tbody>
</table>
